.notification-bar > .pane {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-color: rgba(244, 244, 244, 0.6);
    -fx-padding: 7 7 7 7;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 11, 0.0, 0, 3);
    -fx-background-insets: 0, 1, 2;
}

/*
.notification-bar > .pane .title {
    -fx-font-size: 1.166667em; !*15px;*!
    -fx-text-fill: #292929;
    -fx-font-weight: bold;
}

.notification-bar > .pane .label {
    -fx-font-size: 1.166667em; !*15px;*!
    -fx-text-fill: #292929;
    -fx-alignment: top-left;
}*/
