/*.root {
    -fx-background-color: black;
    -fx-text-fill: black;
}

.button {
    -fx-background-color: white;
}

.text {
    -fx-text-fill: white;
    -fx-color-label-visible: true;
}*/

.button:hover {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}